<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="XInclude">
    <Properties>
        <Property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] [%t] [%-40.40c{2.}:%-.40F:%L] > %m%n"/>
        <Property name="logPath" value="logs"/>
        <Property name="size" value="1G"/>
    </Properties>
    <Appenders>
        <!-- Error -->
        <RollingFile name="Error" fileName="${logPath}/error/error.log"
                     filePattern="${logPath}/archives/error/error-%d{yyyy-MM-dd}-%i.log.zip">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="${size}"/>
            </Policies>
        </RollingFile>
        <!-- Warn -->
        <RollingFile name="Warn" fileName="${logPath}/warn/warn.log"
                     filePattern="${logPath}/archives/warn/warn-%d{yyyy-MM-dd}-%i.log.zip">
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="${size}"/>
            </Policies>
        </RollingFile>
        <!-- Console -->
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <!-- APP_LOG -->
        <RollingFile name="APP_LOG" fileName="${logPath}/app.log"
                     filePattern="${logPath}/archives/app-%d{yyyy-MM-dd}-%i.log.zip">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <!--默认一天一个文件-->
                <TimeBasedTriggeringPolicy/>
                <!--一天内大于size就单独分隔-->
                <SizeBasedTriggeringPolicy size="${size}"/>
            </Policies>
        </RollingFile>
        <!-- Debug -->
        <RollingFile name="Debug" fileName="${logPath}/debug/debug.log"
                     filePattern="${logPath}/archives/debug/debug-%d{yyyy-MM-dd}-%i.log.zip">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="${size}"/>
            </Policies>
        </RollingFile>
        <!-- SQL -->
        <RollingFile name="SQL" fileName="${logPath}/sql/sql.log"
                     filePattern="${logPath}/archives/sql/sql-%d{yyyy-MM-dd}-%i.log.zip">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="${size}"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Error"/>
            <AppenderRef ref="Warn"/>
            <AppenderRef ref="Console"/>
            <AppenderRef ref="APP_LOG"/>
            <AppenderRef ref="Debug"/>
        </Root>
    </Loggers>
</Configuration>