<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>邮箱验证码</title>
  <style>


    .verificationCodeButton:hover {
      box-shadow: inset 6px 6px 4px #d1d1d1,
      inset -6px -6px 4px #ffffff;
    }

  </style>
</head>
<body>
<table style="width: 700px;margin: 0 auto;">
  <tbody>
  <tr>
    <td>
      <div id="top" style="width: 700px;border-bottom: 1px solid #ccc;margin: 0 auto 30px;">
        <table style="font: 12px Tahoma, Arial, 宋体;height: 40px;">
          <tbody><tr><td></td></tr></tbody>
        </table>
      </div>

      <div id="content" style="width: 680px;padding: 0 10px;margin: 0 auto;">
        <div id="content_top" style="line-height: 1.5;font-size: 14px;margin-bottom: 25px;color: #4d4d4d;">
          <strong style="display: block;margin-bottom: 15px;font-weight: bold">尊敬的用户，您好！</strong>
          <strong style="display: block;margin-bottom: 15px;font-weight: bold">
            您正在使用验证码校验，请在<span style="font-size: 18px;color: #FE4F70;">[[${timeout}]]</span>内填写如下验证码，如非本人操作请忽略该邮件
          </strong>
          <div id="verificationCode" style="height: 100px;width: 680px;text-align: center;margin: 30px 0;color: #f60;font-size: 24px;">
            <div style="height: 100px;width: 680px;">
              <button class="verificationCodeButton" th:each="vc:${verifyCode}" style="color: #FE4F70;margin-left: 10px;height: 80px;width: 80px;resize: none;font-size: 42px;border: none;outline: none;padding: 10px 15px;background: #ededed;text-align: center;border-radius: 17px;box-shadow: 6px 6px 12px #cccccc, -6px -6px 12px #ffffff;">
                [[${vc}]]
              </button>
            </div>
          </div>
        </div>
        <div id="content_bottom" style="margin-bottom: 30px;">
          <small style="display: block;margin-bottom: 20px;font-size: 12px;color: #747474;">
            注意：此操作可能会修改您的密码、登录邮箱或绑定手机。如非本人操作，请及时登录并修改密码以保证帐户安全
            <br>（工作人员不会向你索取此验证码，请勿泄漏！)
          </small>
        </div>
      </div>
      <div id="bottom" style="width: 700px;margin: 0 auto;">
        <div style="padding: 10px 10px 0;border-top: 1px solid #ccc;color: #747474;margin-bottom: 20px;line-height: 1.3em;font-size: 12px;">
          <p>此为系统邮件，请勿回复<br>
            请保管好您的邮箱，避免账号被他人盗用
          </p>
          <p id="sign" style="text-align: right;font-size: 18px;color: #747474;font-weight: bold;">[[${sign}]]</p>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
</body>
